.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: var(--primary);
}

.title {
  color: white;
  font-size: xx-large;
  font-weight: 800;
  text-align: center;
}

.date-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary);
}

.date {
  font-size: 40px;
  font-weight: 900;

  color: white;
  margin: 10px;
  cursor: pointer;
}

.date-btn {
  font-size: 36px;
  font-weight: 1000;

  cursor: pointer;
  color: white;
}
.hidden-date-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
