/* 디테일 카드 부분 */
.todo-detail {
  display: flex;
  flex-direction: column;

  gap: 20px;
  padding: 24px;

  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.08);
}

/* 메타 정보 영역 (생성 일자, 수정일자 ..) */
.todo-meta ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 12px 24px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.todo-meta li {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 14px;
  background: #f5f7fa;
  border-radius: 8px;

  font-size: 17px;
}

.todo-meta .label {
  color: var(--text-base);
  font-weight: 900;
}

.todo-meta .value {
  color: var(--text-highlight);
}

/* 우선순위 뱃지 */
.priority {
  padding: 4px 10px;

  border-radius: 12px;

  font-size: 15px;
  font-weight: 700;
}

/* urgent / normal /low  우선순위 뱃지 색상 구분*/
.priority.urgent {
  background: var(--urgent-bg-color);
  color: var(--urgent-color);
}

.priority.normal {
  background: var(--normal-bg-color);
  color: var(--normal-color);
}

.priority.low {
  background: var(--low-bg-color);
  color: var(--low-color);
}

/* 내용 영역 */
.todo-content {
  border-radius: 8px;
  padding: 16px;

  min-height: 200px;
  max-width: 100%;

  font-size: 17px;
  line-height: 1.5;

  color: var(--text-base);
  background: white;
}

/* 내용 없을 때 */
.todo-detail-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 100%;
  min-height: 300px;

  color: var(--text-muted);

  font-size: 16px;
  font-weight: 600;
}
