.footer {
  display: flex;
  align-items: center;
  justify-content: right;

  height: 10vh;
  padding-right: 2rem;

  background-color: var(--primary);
}

button {
  cursor: pointer;
}

.logout-btn,
.withdraw-btn {
  text-align: center;
  border-radius: var(--radius);
  padding: 10px;

  font-size: large;
  font-weight: 800;
}
.logout-btn {
  background-color: white;
  color: var(--primary);
}

.logout-btn:hover,
.logout-btn:active {
  background-color: var(--li-color);
}

.withdraw-btn {
  background-color: var(--urgent-color);
  color: white;

  padding: 10px;

  font-size: large;
  font-weight: 800;
}

.withdraw-btn:hover,
.withdraw-btn:active {
  background-color: #d33535;
  color: white;
}

.footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 20px;
  padding-right: 40px;
}
