.todo-check {
  display: inline-flex;
  align-items: center;
}

.todo-check input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.todo-check__box {
  width: 20px;
  height: 20px;
  border: 1px solid darkgray;
  border-radius: 999px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.todo-check input:checked + .todo-check__box {
  background-color: #4b89dc;
  border-color: #4b89dc;
}

.todo-check input:checked + .todo-check__box::after {
  content: '✓';
  color: white;
  font-size: 14px;
  line-height: 1;
}

.todo-item-wrapper {
  width: 100%;
  display: flex;
  padding: 1rem;
  gap: 20px;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: left;
  max-width: 250px;

  width: 100%;
  gap: 20px;
  margin: 0 0 1.5rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid #1111;
}

.todo-title-text {
  flex: 1;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* max-width: 250px; */
  cursor: pointer;
}
.todo-title-text:hover {
  font-weight: 900;
}
.todo-title-text.selected {
  font-weight: 900;
}

.non-completed-item,
.completed-item {
  flex: 1;
  margin-left: 1rem;
}

.title {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  font-size: x-large;
  color: #666;
}
