.header {
  height: 10vh;
  background-color: #4b89dc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: white;
  font-size: xx-large;
  font-weight: 800;
  text-align: center;
}

.date-wrapper {
  display: flex;
  background-color: #4b89dc;
  justify-content: center;
  align-items: center;
}

.date {
  font-size: 40px;
  font-weight: 900;
  color: white;
  margin: 10px;
  cursor: pointer;
}

.date-btn {
  font-size: 36px;
  font-weight: 1000;
  cursor: pointer;
  color: white;
}
.hidden-date-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
