<div class="main-layout">
  <h2>로그인</h2>
  <form (submit)="onSubmit($event)">
    <div>
      <label>
        Email:
        <input type="email" [field]="loginForm.email" />
      </label>

      @if (loginForm.email().touched() && loginForm.email().invalid()) {
      <ul class="error-list">
        @for(error of loginForm.email().errors(); track error) {
        <li>{{ error.message }}</li>
        }
      </ul>
      }
    </div>
    <div>
      <label>
        password:
        <input type="password" [field]="loginForm.password" />
      </label>
      @if (loginForm.password().touched() && loginForm.password().invalid()) {
      <ul class="error-list">
        @for(error of loginForm.password().errors(); track error) {
        <li>{{ error.message }}</li>
        }
      </ul>
      }
    </div>

    <button class="btn-primary" type="submit">Log In</button>
    <div class="signUp-btn">
      <button class="btn-text" type="button" (click)="goSignup()">회원가입</button>
    </div>
  </form>
</div>
