<div class="todo-item-wrapper">
  <div class="non-completed-item">
    <!-- 미완료 -->
    <div class="title">미완료 {{ activeCount }}</div>

    <div class="empty-state" *ngIf="todoStore.activeTodosByDate().length === 0">
      오늘의 할 일을 추가해 주세요
    </div>

    <div class="todo-scroll" *ngIf="todoStore.activeTodosByDate().length > 0">
      <div
        class="todo-item"
        *ngFor="let todo of todoStore.activeTodosByDate()"
        (click)="todoStore.selectTodo(todo)"
      >
        <label class="todo-check">
          <input
            type="checkbox"
            [checked]="todo.isCompleted"
            (change)="todoStore.toggleTodo(todo.id)"
          />
          <span class="todo-check__box"></span>
        </label>
        <span class="todo-title-text" [class.selected]="todoStore.selectedTodo()?.id === todo.id">
          {{ todo.title }}
        </span>
      </div>
    </div>
  </div>
  <div class="completed-item">
    <!-- 완료 -->
    <div class="title">완료 {{ completedCount }}</div>
    <div class="empty-state" *ngIf="todoStore.completedTodosByDate().length === 0">
      완료한 Todo 가 없습니다.
    </div>
    <div class="todo-scroll" *ngIf="todoStore.completedTodosByDate().length > 0">
      <div
        class="todo-item"
        *ngFor="let todo of todoStore.completedTodosByDate()"
        (click)="todoStore.selectTodo(todo)"
      >
        <label class="todo-check">
          <input
            type="checkbox"
            [checked]="todo.isCompleted"
            (change)="todoStore.toggleTodo(todo.id)"
          />
          <span class="todo-check__box"></span>
        </label>
        <span class="todo-title-text" [class.selected]="todoStore.selectedTodo()?.id === todo.id">
          {{ todo.title }}
        </span>
      </div>
    </div>
  </div>
</div>
