/* 레이아웃 ----------------------- */
.todo-item-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 12px;
  gap: 16px;
}

/* 미완료 / 완료 카드 영역 ------------ */
.title {
  text-align: center;

  margin-bottom: 2rem;
  padding: 6px 6px 10px 6px;

  font-size: 16px;
  font-weight: 700;
  color: var(--text-base);
}
.non-completed-item,
.completed-item {
  display: flex;
  min-height: 420px;
  flex-direction: column;

  padding: 14px;

  overflow: hidden;

  border: 1px solid var(--light-border-color);
  border-radius: 16px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.08);
}

/* 스크롤 영역 ---------- */
.todo-scroll {
  max-height: 380px;
  margin-top: 10px;
  padding-right: 6px;
  overflow: auto;
}
.todo-scroll::-webkit-scrollbar {
  width: 8px;
}
.todo-scroll::-webkit-scrollbar-thumb {
  background: #d9e2ef;
  border-radius: 999px;
}
.todo-scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* 투두 아이템 -------------- */
.todo-item {
  display: flex;
  align-items: center;
  justify-content: left;

  max-width: 250px;
  width: 100%;

  gap: 20px;
  margin: 0 0 1.5rem 0;
  padding-bottom: 1rem;

  border-bottom: 1px solid #1111;
}

.todo-title-text {
  flex: 1;
  min-width: 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  cursor: pointer;
}
.todo-title-text:hover,
.todo-title-text.selected {
  font-weight: 900;
}
/* 투두 체크박스 ------------ */
.todo-check {
  display: inline-flex;
  align-items: center;
}

.todo-check input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.todo-check__box {
  width: 20px;
  height: 20px;
  border: 1px solid darkgray;
  border-radius: 999px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.todo-check input:checked + .todo-check__box {
  background-color: var(--primary);
  border-color: var(--primary);
}

.todo-check input:checked + .todo-check__box::after {
  content: '✓';
  color: white;
  font-size: 14px;
  line-height: 1;
}

/* 예외 --------- */
.empty-state {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  font-size: 16px;
  font-weight: 800;
  color: var(--text-muted);
}
