.layout {
  display: flex;
  height: 80vh;
  justify-content: space-between;
  align-items: center;
  background-color: #4b89dc;
}

.side {
  flex: 1;
  height: 100%;
}

.todo-section {
  background-color: white;
  border-radius: 10px;
  min-width: 700px;
  height: 75vh;
  flex: 0 0 auto;
}

.todo-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
